.content {
    margin: 0 auto 0 auto;
    width: 700px;
	background-color:#45484B;
}

.title {
	color:#EEE6AB;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:50px;
	background-color:black;
	width:650px;
	font-size:50px
}

img.center {
    display: block;
    margin: 0 auto 0 auto;
}